html {
  block-size: 100%;
}

body {
  min-block-size: 100%;

  display: grid;
  place-content: center;

  background-color: var(--bg-primary);
  color: var(--text-primary);

  text-align: center;
  font-family: "Inter", sans-serif;

  padding: 1rem;
}
